.tabla th,td {
    border: 1px solid black;
    border-radius: 7px;
    border-collapse: collapse;
}

.tabla {
    padding-left: 40%;
    width: 60%;
}

.tabla th {
    background-color: #757575;
}

.tabla td {
    background-color: #A8A8A8;
}

body {
    background-color: #0F398C;
}

.muestra {
    padding-top: 45px;
}