body{
	background-color:#0F398C;
}

img{
	height:250px;
	width:450px;
}

.centrado{
	text-align: center;
}

div.error {
	color : red;	
	background: white;
	font-weight: bold;
	font-size: 15px;
	border : 2px solid red;
	padding : 10px;
	margin: 10px;
	width: 400px;
	margin-left: auto;
	margin-right:auto;
}
