div.error {
	color : red;	
	background: white;
	font-weight: bold;
	font-size: 15px;
	border : 2px solid red;
	padding : 10px;
	margin: 10px;
	width: 70%;
	margin-left: auto;
	margin-right:auto;
}

body{
  background-color: #0F398C;
  font-family: "Lato", sans-serif;

}

form{
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background: white;
	width: 50%;
	border: black 2.5px solid;
	margin-left: auto;
	margin-right:auto;
}

.opciones{
	width: 10%;
}

input{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

fieldset{
	margin-top: 30px;
	font-weight: bold;
	border: 3px black solid;
}

p i{
	color: red;
	font-weight: bold;
}

p{
	text-align: center;
}

.botonEnviar{
	text-align: center;
}

.registro{
  width: 30%;
  background-color: #2fb535;
  font-weight: bold;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.registro:hover{
	background-color: #29912d;
}
