
body {
    background-color: #1B1B64;
}

.tab_carta_inicio {
    float: left;
    width: 25%;
    height: 300px;
}

.carta_button {
    display: block;
    background-color: gray;
    color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Fira Code";
    font-weight: bold;
    font-size: 15px;
}

.carta_button:hover {
    background-color: rgba(72,76,79,0.92);
}

.carta_button.active {
    background-color: rgba(72,76,79,0.92);
}

.tab_carta_cont {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}