body {
    background-color: #0F398C;
}

.boton_clientes {
    background-color: gray;
    color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Fira Code";
    font-weight: bold;
    font-size: 15px;
}

.muestra_clientes {
    padding-top: 45px;
}

.boton_clientes:hover {
    background-color: rgba(72,76,79,0.92);
}

.boton_clientes.active {
    background-color: rgba(72,76,79,0.92);
}

.tabla_clientes th,td {
    border: 1px solid black;
    border-radius: 7px;
    border-collapse: collapse;
}

.tabla_clientes {
    padding-left: 20%;
    width: 60%;
}

.tabla_clientes th {
    background-color: #757575;
}

.tabla_clientes td {
    background-color: #A8A8A8;
}

td, button{
    background-color: gray;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Fira Code";
    font-size: 15px;
    width: 100%;
}

td, button:hover {
    background-color: rgba(72,76,79,0.92);
}