body {
    background-color: #0F398C;
    font-family: "Lato", sans-serif;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla_clientes{
  margin: 20px;
  border: black 2.5px solid;
  border-collapse: collapse;
  background: #FAFAFA;
}

.muestra_clientes {
    padding-top: 20px;
}

.botones{
  background: #0F398C;
  width:500px;
  border: #0F398C 2.5px solid;
  padding-left: 10px;
}
.boton_clientes:hover {
    background-color: rgba(72,76,79,0.92);
}

.boton_clientes.active {
    background-color: rgba(72,76,79,0.92);
}

.tabla_clientes {
  width: 80%;
  margin: 20px;
  border: black 2.5px solid;
  border-collapse: collapse;
  background: #FAFAFA;
}

.cabecera{
  border: black 2.5px solid;
  background-color: #A8A8A8;
  padding:7px;
  font-size:15px;
  width: 350px;
}

.datos{
  border-left: black 2.5px solid;
  border-right: black 2.5px solid;
  padding:7px;
  font-size:15px;
  width: 200px;
}

button{
  border: black 2px solid;
  background-color: #FFFFFF;
  width:69px;
  height:30px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}


.botonDelete:hover{
  background-color: #DE0707;
}

.botonEdit:hover{
  background-color: #05CB74;
}

.botonCopy:hover{
  background-color: #0EE1DE;
}

.botonGrabar:hover{
  background-color: #05CB74;
}
