body {
  background-color: #0F398C;
  font-family: "Lato", sans-serif;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.boton_mesa {
    background-color: white;
    color: black;
    border: black 2.5px solid;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 10%;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: 15px;
    border-collapse: collapse;
}

.muestra_mesas {
    padding-top: 45px;
}

.boton_mesa:hover {
   background-color: #6397FF;
}

.boton_mesa.active {
    background-color: #6397FF;
}


.tabla_mesas {
  margin: 20px;
  border: black 2.5px solid;
  border-collapse: collapse;
  background: #FAFAFA;
}

.boton_mesa{
  border: black 2px solid;
  background-color: #FFFFFF;
  width:120px;
  height:50px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}

.factura:hover {
    background-color: yellow;
}

.cabecera{
  border: black 2.5px solid;
  background-color: #A8A8A8;
  padding:7px;
  font-size:15px;
  width: 200px;
}

.datos{
  border-left: black 2.5px solid;
  border-right: black 2.5px solid;
  padding:7px;
  font-size:15px;
  width: 200px;
}

.botones{
	border: #0F398C 2.5px solid;
	background-color: #0F398C;
	
}

.factura{
  border: black 2px solid;
  background-color: #FFFFFF;
  width:100px;
  height:30px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}
